@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
}

@font-face {
  font-family: "Quranic";
  src: url("./assets/font/Al Majeed Quranic Font_shiped.ttf");
}
